.container-1{
	width: 95%;
	margin: 0 auto;
}
.card-header{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 30px;
}
.card-header-logo{
	/* width: 20%; */
	display: flex;
}
.card-header-logo img{
	height: 40px;
}
.card-header-logo p{
	margin-left: 10px;
}
.nav-pc{
	display: flex;
	flex-wrap: wrap;
}
li{
	list-style: none;
}
li a{
	color: black;
	margin-left: 40px;
	text-decoration: none;
}
.fa-bars{
	display: none;
}
.nav__overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	display: none;
	animation: fadeIn linear 0.3s;
}
.nav-mobile{
	width: 100%;
	position: fixed;
	top: 0;
	right:0;
	bottom: 0;
	width: 320px;
	max-width: 100%;
	background-color: #fff;
	transform: translateX(100%);
	opacity: 0;
	transition: all linear 0.2s;
}
.nav-mobile-link{
	display: block;
	padding-top:20px;
	padding-left: 35%;
}
.nav-mobile-closed{
	width: 28px;
	height: 28px;
	color: #666;
	position:absolute ;
	top: 1rem;
	left: 1rem;
}
.nav-input:checked ~ .nav__overlay{
	display: block;
}
.nav-input:checked ~ .nav-mobile{
	transform: translateX(0);
	opacity: 1;
}
.card-form{
	width: 50%;
	margin: 0 auto;
	background-color: #F8F8F8;
	border-radius: 20px;
	margin-top: 100px;
}
.card-form-1{
	width: 95%;
	margin: 0 auto;
	padding-top: 15px;
}
.card-feedback{
	display: flex;
	flex-direction: column;
}
.card-feedback textarea{
	border-radius: 10px;
	border: none;
}
.card-feedback textarea:hover{
	border: 1px solid #96B4FF;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.card-input-2{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.card-input-1{
	width: 46%;
}
.card-input-1 input{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border: none;
}
.card-input-1 input:hover{
	border: 1px solid #96B4FF;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.card-email{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.card-email input{
	width: 40%;
	height: 40px;
	border: none;
	border-radius: 10px;
}
.card-email input:hover{
	border: 1px solid #96B4FF;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.card-submit{
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
}
.card-submit input{
	width: 15%;
	height: 30px;
	border: none;
	border-radius: 20px;
	background-color:#16AA52;
	color: white;
}


@media only screen and (max-width: 1023px){
	.fa-bars{
		display: block;
	}
	.nav-pc{
		display: none;
	}
	.card-submit input{
		text-align: center;
		width: 50%;
	}
	.card-form{
		position: relative;
		width: 70%;
		margin: 0 auto;
	}
	.nav-mobile{
		z-index: +1;
	}
	footer{
		position: relative;
		z-index: -1;
	}
	.card-email input{
		width: 90%;
	}
}